*, ::before, ::after {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(149, 177, 117);
}

.contenedor-principal {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  padding: 20px;
  box-shadow: 2px 2px 20px;
}

.grafico {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  stroke: black;
  opacity: 80%;
}

.legend-label text {
  font: 12px sans-serif;
}

.axis-text {
  font: 18px sans-serif;
}

#title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-family: sans-serif;
}

#subtitle {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
}

.firma {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#tooltip {
  display: flex;
  background-color: rgba(255, 247, 136, 0.952);
  padding: 10px 15px;
  width: auto;
  height: auto;
  border-radius: 8px;
  font: 12px sans-serif;
}